<mat-card>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Idade</mat-label>
        <input matInput formControlName="age" type="number">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </mat-card>
  